#.gitignore

node_modules/

*.log
npm-debug.log*

.env
.env*
*.env
.env.local
!.env.example

packages/*/node_modules/

packages/server/dist/

packages/client/dist/

packages/client/.vite/

packages/common/dist/

.DS_Store
Thumbs.db

.idea/
.vscode/